@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

html {
  height: 100%;
  background-color: hsl(221, 100%, 96%);
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 100%;
  height: 357px;
  border-end-end-radius: 25px;
  border-end-start-radius: 25px;
}

@media only screen and (min-width: 770px) {
}

.results-container p {
  color: hsl(221, 100%, 96%);
  font-size: 18px;
}

.results-container h3 {
  color: hsl(221, 100%, 96%);
  font-size: 28px;
}

.results-container h4 {
  margin: 10px 42px 0px 42px;
  text-align: center;
  color: hsl(221, 100%, 96%);
  font-size: 14px;
  opacity: 80%;
  text-wrap: balance;
}

.score-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  height: 143px;
  width: 143px;
  border-radius: 50%;
}

.score-circle .score {
  color: hsl(0, 0%, 100%);
  font-size: 55px;
  font-weight: 800;
}

.score-circle .total {
  opacity: 75%;
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  /* text-align: left; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.summary-container p {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 20px 20px 20px;
  text-align: left;
  /* align-items: flex-start; */
}

.score-box {
  left: 0;
  right: 0;
  height: 55px;
  margin: 7px 20px 7px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-box img {
  margin-left: 15px;
}

.reaction-score {
  background-color: hsla(0, 100%, 67%, 0.15);
}

.memory-score {
  background-color: hsl(39, 100%, 56%, 0.15);
}
.verbal-score {
  background-color: hsl(166, 100%, 37%, 0.15);
}

.visual-score {
  background-color: hsl(234, 85%, 45%, 0.15);
}

.score-box .type-label {
  font-size: 15px;
  margin-left: 10px;
}

.reaction-score .type-label {
  color: hsl(0, 100%, 67%);
}
.memory-score .type-label {
  color: hsl(39, 100%, 56%);
}
.verbal-score .type-label {
  color: hsl(166, 100%, 37%);
}
.visual-score .type-label {
  color: hsl(234, 85%, 45%);
}

.icon-type-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.summary-total-score {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.summary-total-score p.summary-score {
  margin: 0;
  font-size: 15px;
}

.summary-total-score p.total-score {
  margin-left: 10px;
  opacity: 30%;
  font-size: 15px;
}

.continue {
  background-color: hsl(224, 30%, 27%);
  border-style: none;
  height: 55px;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 15px 20px 15px 20px;
  border-radius: 25px;
}

.continue:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

@media only screen and (min-width: 770px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }

  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .score-box {
    left: 0;
    right: 0;
    height: 45px;
    margin: 7px 20px 7px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .summary-container .summary-heading {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 20px 10px 20px;
    text-align: left;
  }

  .summary-container p {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 20px 20px 20px;
    text-align: left;
    /* align-items: flex-start; */
  }
}
